<div class="mt-4 container-md" id="search-module">
    {#      search operation     #}
    <div class="row">
{#        <form method="GET" action="{{route('index.rental')}}">#}
        <form method="GET" action="">
            <div class="input-group">
{#                <input name="brand" type="search" class="form-control rounded" placeholder="Computer Band, like: Apple"#}
{#                       value='{{request()->input('brand')}}' aria-label="Search" aria-describedby="search-addon" />#}
                  <input name="brand" type="search" class="form-control rounded" placeholder="Computer Band, like: Apple"
                       value='' aria-label="Search" aria-describedby="search-addon" />
                <button type="submit" class="btn btn-outline-primary">search</button>
            </div>
        </form>
    </div>

    <div class="row row-cols-3 text-center">
        {% if computer_list %}
            {% for computer in computer_list %}
                <div class="col gy-3">
                    <div class="card h-100">
                        <img src = "{{ computer.picture }}"
                             class="card-img-top" alt = "{{ computer.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ computer.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ computer.brand }}</h6>
                            <p class="card-text">{{ computer.rent }} / hour</p>
                            <a href="{% url 'computers:detail' computer.id %}" class="btn btn-dark stretched-link">
                                View Details
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No computers are available.</p>
        {% endif %}
    </div>
</div>
